.content-index-ob {
  background-color: #1c1b18;
  padding-top: 90px;
  padding-bottom: 90px;
}

.content-index-ob__row {
  display: flex;
  gap: 1.5rem;
  color: #fff;
  padding-bottom: 18px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.11);
  font-family: "DIN 2014";
  cursor: pointer;
}

.content-index-ob__row--primary>div {
  color: #febf10;
  font-family: "Publico Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.content-index-ob__title {
  width: 20%;
  color: #fff;
}

.content-index-ob__theme {
  width: 60%;
  color: #fff;
}

.content-index-ob__author {
  width: 20%;
  color: #fff;
}

.content-index-ob__row-table {
  overflow: hidden;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label.wpforms-label-hide,
div.wpforms-container-full .wpforms-form .wpforms-field-sublabel.wpforms-sublabel-hide {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

/* width */
.content-index-ob__row-table::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
  cursor: pointer;
}

/* Track */
.content-index-ob__row-table::-webkit-scrollbar-track {
  background: #171715;
}

/* Handle */
.content-index-ob__row-table::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
}

/* Handle on hover */
.content-index-ob__row-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content-index-ob__table {
  position: relative;
}

.content-index-ob__table.is-lock::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
  background: linear-gradient(180deg, rgba(28, 27, 24, 0) 0%, #1c1b18 100%);
  pointer-events: none;
}

.container-popup-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

.container-popup-form.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.container-popup-form .wrapper-form {
  max-width: 768px;
  padding: 50px 90px !important;
}

.container-popup-form .wrapper-form .form-control.form-control-inline h2 {
  font-family: "Publico Text";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  /* or 139% */
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
  color: #000;
}

.container-popup-form .wrapper-signup .sign-up-form .wrapper-form {
  background-color: #fff;
}

.container-popup-form .wrapper-signup .sign-up-form .wpforms-field input[type="checkbox"],
.container-popup-form .wrapper-signup .sign-up-form .wrapper-form .form-control input:not([type="checkbox"]),
.container-popup-form .wrapper-signup .sign-up-form div.wpforms-container-full .wpforms-form select {
  background: rgba(28, 27, 24, 0.05);
  color: #404040;
}

.ob-extension-detail {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  border-radius: 0.5rem;
  padding: 70px 1.5rem;
  max-width: 1330px;
  margin: 0 auto;
}

.ob-extension-sidebar {
  flex: 0 0 268px;
}

.ob-extension-sidebar__inner {
  background: rgba(28, 27, 24, 0.05);
  padding: 17px 20px;
}

.ob-extension-sidebar h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border-bottom: 1px solid rgba(28, 27, 24, 0.1);
  margin-bottom: 19px;
  padding-bottom: 19px;
}

.ob-extension-sidebar ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  gap: 19px;
  font-size: 16px;
  line-height: 24px;
  max-height: 50vh;
  overflow: hidden auto;
}

.ob-extension-sidebar ul li {
  list-style: none;
}

.ob-extension-sidebar ul li a {
  color: #b08a2e;
  text-decoration: none;
}

.ob-extension-sidebar ul li a:hover,
.ob-extension-sidebar ul li a.is-active {
  color: #1c1b18;
}

.ob-extension-sidebar ul li a.is-active {
  font-weight: 600;
}

.ob-extension-content {
  display: flex;
  height: 100%;
  flex: 1;
}

.ob-extension-content__wrapper {
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}

.ob-extension-content__inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.ob-extension-content__inner h6 {
  margin-top: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.ob-extension-content__inner p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.ob-extension-content__head {
  margin-bottom: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.ob-extension-content__head span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.ob-extension-content__head h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.ob-extension-detail {
  position: relative;
}

.ob-extension-detail__close {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 50px;
  height: 50px;
}

.ob-extension-detail__close:before,
.ob-extension-detail__close:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 12px;
  height: 2px;
  background-color: #8b9bb2;
  transform: rotate(45deg);
}

.ob-extension-detail__close:before {
  transform: rotate(-45deg);
}

.ob-extension-scrollToList {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #febf10;
  transition: all 0.3s;
}

.ob-extension-scrollToList.is-remove {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*# sourceMappingURL=ob-extension.css.map */

.container-popup-form div.wpforms-container-full .wpforms-form ul li.choice-1:last-of-type {
  display: flex;
}

.ob-extension-select {
  display: none;
  background: rgba(28, 27, 24, 0.05);
  border: 0;
  padding: 6px 16px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .ob-extension-content {
    width: 100%;
    flex-flow: column;
  }

  .ob-extension-select {
    display: block;
  }
}

.ct-info-quote {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ct-info-quote__description {
  font-family: 'Publico Text';
  font-size: 20px;
  line-height: 1.5rem;
  color: #1c1b18;
  max-width: 500px;
}

.ct-info-quote__author {
  display: flex;
}

.ct-info-quote__author:before {
  content: "";
  display: block;
  flex: 1;
  background: #febf10;
  height: 2px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .ct-info-quote__author:before {
    background-color: #fff 0;
  }
}

.ct-info-quote__content {
  padding: 28px 32px 0;
}

@media screen and (max-width: 768px) {
  .ct-info-quote__content {
    padding-top: 12px;
  }
}

.ct-info-quote__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.ct-info-quote__position {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(28, 27, 24, 0.6);
}

.ct-info-quote__truelayer {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .ct-info-quote__truelayer {
    margin-top: 10px;
  }
}

.ct-info-quote__truelayer img {
  max-height: 18px;
  object-fit: contain;
}

.ct-info-quote__avatar img {
  width: 100px;
  height: 133px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .ct-info-quote__avatar img {
    height: 100px;
  }
}